.product__opinioncard {
    width: 400px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.product__opinioncard-text {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    width: 250px;
    margin-left: 1rem;
    padding: 0.5rem;
}

.product__opinioncard-text p {
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0.5rem;
}